@font-face {
    font-family: "Beleren Bold";
    src:
      url("Beleren2016-Bold.woff") format("woff"),
      url("Beleren2016-Bold.ttf") format("truetype"),
      url("Beleren2016-Bold.svg") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }

::selection {
    color: white;
    background: orangered;
}

a {
    text-decoration: none;
}

.header {
    font-family: 'Beleren Bold', sans-serif;
    
}
html, body {
    overscroll-behavior: none;
    font-family: 'Beleren Bold', sans-serif; 
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #000000f7;
    background-size: cover;
    overflow-y: scroll;
}

#backgroundContainer {
    position: fixed;
    inset: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(15px);
    z-index: -1;
    overflow: hidden;
}
.container {
    text-align: center;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
}
#searchInput {
    font-family: 'Beleren Bold', sans-serif; 
    padding: 10px;
    font-size: 20px;
    width: 300px;
}
#searchButton {
    font-family: 'Beleren Bold', sans-serif; 
    padding: 7px 20px;
    font-size: 20px;
    background-color: orangered;
    color: #fff;
    border: none;
    cursor: pointer;
    position: static;
    margin-top: 10px;
    border-radius: 5px;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px; 
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

 /* Styles for the card image */
 .image-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Card image styles */
#cardImage {
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;
    transform: rotate3d(0);
    display: flex;
    max-width: 300px;
    min-width: 200px;
    width: 100%;
    height: auto;
    z-index: 10; 
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}



#cardImage:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
}

/* Styles for the card info table */
#cardInfoTable {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #dddddd; 
}

#cardInfoTable th, #cardInfoTable td {
    padding: 8px;
    text-align: left;
    background-color:transparent;
    color: #fffefe;
    border: 1px solid #dddddd;
}


#cardInfoTable td:not(:first-child), #cardInfoTable th:not(:first-child) {
    background-color: black;
    /* color: #fffefe; */
    
}

#cardInfoTable th {
    font-weight: bold;
}


#cardInfoTable tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
#cardInfoTable tr:first-child th:last-child {
    border-top-right-radius: 10px; 
}
#cardInfoTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
#cardInfoTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px; 
}


.container h1 {
    background-size: 30%;
    background-color: black;
    color: white;
    border: 1.5px solid white;
    border-radius: 15px;
    padding: 8px;
    max-width: fit-content;
    text-align: center;
    display: inline-block;
}

.title-2 {
    color: orangered; 
}

.search-title {
    color: #ffffff; 
}
.suggestion {
    cursor: pointer;
    padding: 5px;
}
.suggestion:hover {
    background-color: #1052c6;
    cursor: pointer;
}

.search-container {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}

.dropdown-container {
    font-family: 'Beleren Bold', sans-serif; 
    position: absolute;
    z-index: 1000;
}


.suggestion-dropdown {
    box-sizing: border-box;
    font-size: 18px;
    max-height: 200px;
    overflow-y: auto;
}
#suggestionDropdown {
    font-family: 'Beleren Bold', sans-serif; 
    display: none;
    width: 100%;
}
#suggestionDropdown option:hover {
    background-color: orangered;
    color: white;
}

.shiny-text {
    font-weight: bold;
    position: relative;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.select2-results__option--highlighted {
    background-color: orangered !important;
    color: white !important;
}

/* Media query for narrow viewports */
@media screen and (max-width: 768px) {
    .card-info {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 20px; 
        justify-content: flex-start;
        width: 100%; 
        max-width: 100%; 
        margin-left: auto;
        margin-right: auto;
    }

    #cardImage {
        max-width: 300px;
        width: 90%;
        height: auto;
        margin-bottom: 16px; 
    }

    #cardInfoTable {
        width: 90%;
        margin: 0 auto;
    }


    #view-art-btn {
        display: none;
        font-family: 'Beleren Bold', sans-serif; 
        padding: 10px;
        font-size: 18px;
        background-color: orangered;
        color: #fff;
        border: none;
        cursor: pointer;
        position: static;
        margin: 15px;
        border-radius: 5px;
        transform: translate(0%, -30%) !important;
    }
}




#view-art-btn {
    display: none;
    font-family: 'Beleren Bold', sans-serif; 
    padding: 10px;
    font-size: 18px;
    background-color: orangered;
    color: #fff;
    border: none;
    cursor: pointer;
    position: static;
    margin: 15px;
    border-radius: 5px;
    transform: translate(0, 300%);
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

/* Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

/* Adjust Close Button for Narrow Viewports */
@media (max-width: 768px) {
    .close {
        top: 10px;
        right: 10px;
        font-size: 24px;
    }
}

/* Optional: Improve Clickable Area for Small Screens */
.close::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    cursor: pointer;
}

/* Modal Image */
.modal-art-image {
    width: 80vw;
    height: auto; 
    max-height: 85vh;
    border-radius: 10px;
    object-fit: contain;
    cursor: zoom-in;
}


#disclaimerContainer {
    position: fixed;
    bottom: 10px;
    left: 1%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1000;
}

.disclaimer-icon {
    width: 20px;
    height: 20px;
    background-color: #000000;
    color: #989898;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: help;
    font-weight: bold;
    font-size: 14px;
}

.disclaimer-text {
    cursor: help;
    color:rgb(117, 116, 116)
}

.disclaimer-popup {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 300px; 
    background-color: #222;
    color: #929292;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    z-index: 1001;
}

/* Show popup on hover */
#disclaimerContainer:hover .disclaimer-popup {
    display: block;
}


#login-link {
    color: orangered;
}

#browseBySetLink {
    color: white;
    background-size: 50%;
    background-color: black;
    padding: 8px;
    border: 1.5px solid white;
    border-color: white;
    border-radius: 15px
}

#browseByCardLink {
    color: orangered;
    background-size: 50%;
    background-color: black;
    padding: 8px;
    border: 1.5px solid white;
    border-color: white;
    border-radius: 15px;
}


/* Grid view styling */
.grid-view {
    margin-top: 20px;
}

#setGridView #setGridContainer {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 100%;
}


.card-grid-item {
    text-align: center;
    cursor: pointer;
    position: relative;
}

.card-grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    display: block;
    object-fit: cover;
    will-change: transform;
    transform: translateZ(0);
}

.card-grid-item:hover img {
    transform: scale(1.25);
}

.card-grid-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}

#setTitleHeader {
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}
